{% extends "blog/base.html" %}
{%block content%}
<div class="container border border-warning bg-light">
 <marquee><h1 class="fs-1">About Us</h1></marquee>
    <pre>
      Welcome to <b>BlogStream</b> your go-to space for ideas, inspiration,
      and stories that spark curiosity and engagement.

      <b>Our mission is simple:</b> to create a platform where thoughts are shared,
      knowledge is exchanged, and meaningful connections are formed.
      Whether you're here to read quick tips, explore interesting stories,
      or just take a break from your day, we’ve got something for everyone.

     <b>What We Offer:</b>
      <b>Diverse Content:</b> From technology and lifestyle to travel and productivity,
      our posts cater to a wide range of interests.
      <b>Community Engagement:</b> We encourage comments, feedback, and open discussions
      to make this space more interactive.
      <b>Fresh Updates:</b> Our content is regularly updated to keep you informed and inspired.
      We believe everyone has a story to tell or an idea to share, and this blog system
      is a step toward building a vibrant community.

      Thank you for being part of our journey. Happy reading!

    </pre>

</div>
{%endblock content%}
